---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Homepage";
import Greeting from "../components/Greetings";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hello Astro 🚀</h1>
  <Greeting client:load messages={["hello", "hi", "welcome"]} />
</BaseLayout>
